<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Maintenance Task</title>
    <style> .error { color: red; font-size: 0.9em; display:block; } </style>
</head>
<body>

<h1>Create Maintenance Task</h1>

<form th:action="@{/maintenance}" th:object="${task}" method="post">

    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}" />
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>

    <div>
        <label>Status:</label>
        <select th:field="*{status}">
            <option value="">-- Select Status --</option>
            <option value="PLANNED">Planned</option>
            <option value="ACTIVE">Active</option>
            <option value="DONE">Done</option>
        </select>
        <span class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
    </div>

    <div>
        <label>Floor:</label>
        <select name="floorId">
            <option value="">-- Choose Floor --</option>
            <option th:each="fl : ${floors}"
                    th:value="${fl.id}"
                    th:text="'Etaj ' + ${fl.number}">
            </option>
        </select>
        <span class="error" th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}"></span>
    </div>

    <br>
    <button type="submit">Save</button>
</form>

<a href="/maintenance">Back</a>

</body>
</html>