<!--@thymesVar id="customer" type="model.Customer"-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="${customer.id != null} ? 'Edit Customer' : 'Create Customer'">Customer</title>
</head>
<body>
<h1 th:text="${customer.id != null} ? 'Edit Customer' : 'Create New Customer'"></h1>

<!-- CREATE form -->
<form th:action="@{/customer}" th:object="${customer}" method="post" th:if="${customer.id == null}">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name</label>
        <input th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
    </div>

    <div>
        <label>Currency</label>
        <input th:field="*{currency}" />
        <div th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}" style="color:red"></div>
    </div>

    <div>
        <label>Email</label>
        <input th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

<!-- EDIT form -->
<form th:action="@{/customer/{id}/edit(id=${customer.id})}" th:object="${customer}" method="post" th:if="${customer.id != null}">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name</label>
        <input th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
    </div>

    <div>
        <label>Currency</label>
        <input th:field="*{currency}" />
        <div th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}" style="color:red"></div>
    </div>

    <div>
        <label>Email</label>
        <input th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

<br>
<a th:href="@{/customer}">Back to List</a>
</body>
</html>