<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Customers List</title></head>
<body>
<h1>Customers List</h1>
<a href="/customer/new"><button>Create New</button></a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Currency</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cust : ${customers}">
        <td th:text="${cust.id}"></td>
        <td th:text="${cust.name}"></td>
        <td th:text="${cust.email}"></td>
        <td th:text="${cust.currency}"></td>
        <td>
            <a th:href="@{'/customer/' + ${cust.id} + '/edit'}"><button>Edit</button></a>

            <form th:action="@{'/customer/' + ${cust.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>