<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${mall.id != null} ? 'Edit Mall' : 'Create Mall'">Mall</title>
</head>
<body>
<h1 th:text="${mall.id != null} ? 'Edit Mall' : 'Create New Mall'"></h1>

<!-- CREATE form -->
<form th:action="@{/mall}" th:object="${mall}" method="post" th:if="${mall.id == null}">
    <div>
        <label>Name</label>
        <input th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
    </div>

    <div>
        <label>City</label>
        <input th:field="*{city}" />
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red"></div>
    </div>

    <div>
        <label>Address</label>
        <input th:field="*{address}" />
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

<!-- EDIT form -->
<form th:action="@{/mall/{id}/edit(id=${mall.id})}" th:object="${mall}" method="post" th:if="${mall.id != null}">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name</label>
        <input th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
    </div>

    <div>
        <label>City</label>
        <input th:field="*{city}" />
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red"></div>
    </div>

    <div>
        <label>Address</label>
        <input th:field="*{address}" />
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

<br>
<a th:href="@{/mall}">Back to List</a>
</body>
</html>