<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Malls List</title></head>
<body>
<h1>Malls List</h1>
<a href="/mall/new"><button>Create New</button></a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${malls}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.city}"></td>
        <td th:text="${m.address}"></td>
        <td>
            <a th:href="@{'/mall/' + ${m.id} + '/edit'}"><button>Edit</button></a>
            <form th:action="@{'/mall/' + ${m.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>